%h1 Peers
#peers

%h1 Hosts
#hosts
#new_host
  %input.key{:type => 'text'}/
  \=
  %input.url{:type => 'text'}/
  %button#add_host{ :onclick => 'add_host( $("#new_host .key")[0].value, $("#new_host .url")[0].value );' }
    Add Host
#find_hosts
  %input.key{:type => 'text', :size => 40}/
  %button{ :onclick => 'find_hosts( $("#find_hosts .key")[0].value );' }
    Search Hosts

:javascript
  jQuery(document).ready( function(){
    remote_call({ url: '/peers',  context: $('#peers'),  repeat: 10000 });

    $('#peers').bind( 'ajax:success', function(status, data, xhr) {  $(this).html( peer_list_html( data ) );  });
    $('#hosts').bind( 'ajax:success', function(status, data, xhr) {  $(this).html( host_list_html( data.key, data.hosts ) );  });
    $('#new_host').bind( 'ajax:success', function(status, data, xhr) {  find_hosts( data.key );  });
  });

  function add_host( key, url ) {
    remote_call({ url: '/hosts/'+key, type: 'POST', context: $('#add_host'),
                  data: JSON.stringify([url]), contentType: 'application/json', processData: false });
  }

  function find_hosts( key ) {
    remote_call({ url: "/hosts/"+key+"?r=1", context: $('#hosts') });
  }

  function peer_list_html( peers ) {
    if ( peers.length == 0 ) {
      return '<em>no peers</em>';
    }
    var html = '<ul> ';
    for ( var i in peers ) {
      var peer = peers[i];
      html += '<li><a href="'+peer.url+'">'+peer.url+'</a> <span class="key">'+peer.key+'</span></li>';
    }
    return html += '</ul>';
  }

  function host_list_html( key, hosts ) {
    if ( hosts.length == 0 ) {
      return '<em>no hosts</em>';
    }
    var html = '<span class="key">'+key+'</span><br/>';
    html += '<ul> ';
    for ( var i in hosts ) {
      var host = hosts[i];
      html += '<li>' + host.url;
      if ( host.active_at ) { html += ' (<span class="active_at">'+host.active_at+'</span>)' }
      html += '</li>'
    }
    return html += '</ul>';
  }
